.sizeOptions {
  display: flex;
  gap: 5px; /* Espaço entre os botões */
  flex-wrap: wrap;
}

.sizeButton {
  padding: 10px 18px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 1px;
  cursor: pointer;
  font-size: 12px;
  align-items: center;
  transition: background-color 0.3s, border-color 0.3s;
  margin-bottom: 1rem;

  &:hover,
  &.selectedSize {
    border-color: #333;
    background-color: #f7f7f7; /* Cor de fundo ao passar o mouse e para o botão selecionado */
  }
}

.selectedSize {
  font-weight: bold;
}

/* Classe aplicada para botões que estão desabilitados */
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Classe para aplicar risco no texto */
.strike {
  text-decoration: line-through;
}
