@import '../../_css/common';

.pageRange {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.content {
  display: flex;
  align-items: center;
  margin: 0 var(--base(0.5));
}

.divider {
  margin: 0 2px;
}

.hyperlink {
  display: flex;
}
