.addToCartButton {
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity 100ms linear;
  border-radius: 0; 

}

.green {
  color: var(--theme-success-700);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Inicialmente invisível */
  animation: fadeInOut 3s forwards; /* Animação para aparecer e desaparecer */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
