@use '../../_css/queries.scss' as *;

.cartLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative; // Adicionado para criar um contexto de posicionamento

  .icon {
    max-width: 25px;
    max-height: 25px;
  }
}

.quantity {
  position: absolute;      // Posiciona a quantidade de forma absoluta
  top: 5px;               // Ajuste conforme necessário para centralizar verticalmente
  right: -15px;            // Ajuste conforme necessário para posicionar horizontalmente
  font-size: 10px;
  background-color: white; // Opcional: define uma cor de fundo para o badge
  padding: 2px 4px;        // Opcional: adiciona um espaçamento interno para dar o formato de badge
  border-radius: 50%;      // Opcional: arredonda as bordas para um visual de badge
  line-height: 1;          // Garante que o conteúdo do badge não expanda sua altura
}
