.highImpactImageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

@media (max-width: 600px) {
  .highImpactImageContainer {
    grid-template-columns: 1fr;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.imageContainer {
  position: relative;
  
  overflow: hidden; // Esconde partes da imagem que excedem o contêiner
  margin: 5px; // Espaçamento entre as imagens
  flex: 1 0 auto; // Permite que o contêiner se ajuste ao tamanho da imagem
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;

}

.image {
  flex: 1 0 auto; /* Faz com que as imagens tenham tamanhos proporcionais e ocupem a mesma largura */
  position: relative;
  object-fit: scale-down;
  height: 800px!important;
  width: calc(100% - 5px)!important;

  margin-top: 5px;
  transition: transform 0.3s ease;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.controls button {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
}

.controls button:hover {
  background-color: rgba(255, 255, 255, 1);
}
