.colorSelectWrapper {
  display: flex;
  flex-direction: column; /* Muda para coluna para colocar a label acima dos botões */
  align-items: flex-start; /* Alinha os itens à esquerda */
  margin-bottom: 1rem;
}

.colorLabel {
  font-size: 20px;
  margin-bottom: 0.5rem; /* Espaço entre a label e os botões */
}

.colorsContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que os botões de cor quebrem para a próxima linha, se necessário */
}

.colorButton {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-bottom: 0;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  outline: none;
  position: relative;
  margin-right: 1rem; /* Aumento da margem à direita */
  margin-bottom: 1rem; /* Aumento da margem embaixo */

  &:last-child {
    margin-right: 0;
  }

  .square {
    width: 24px;
    height: 24px;
    background-color: transparent; /* Fundo transparente */
    margin-right: 0.5rem;
    position: relative;
    transition: box-shadow 0.3s ease; /* Animação suave para o efeito de borda */
  }

  .filledSquare {
    background-color: currentColor; /* Define a cor de fundo para a cor selecionada */
  }

  .selected .square {
    box-shadow: 0 0 0 20px #555; /* Altere para a cor e tamanho de borda desejados */
}

  .colorName {
    font-size: 14px;
    color: #000; /* Cor do texto do nome da cor */
  }
}